qz.exe filter=lfs diff=lfs merge=lfs -text
qz.run filter=lfs diff=lfs merge=lfs -text
*.run filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
